@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* main */
body {
    font-family: S-CoreDream-4Regular;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* 위 패딩을 사용하여 양쪽에 여백을 추가하여 그리드 아이템이 컨테이너에 붙지 않도록 합니다 */
}



/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    font-size: 19px; /*크기 조절시 변경 해야함 */
    overflow-x:auto;
    white-space:nowrap;
}

.navbar .ui li {
    line-height: 30px;    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;   /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
}

.nav-logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px; /* 각 항목 간의 간격을 설정 */
}

.nav-links a {
    text-decoration: none;
    color: #383D42;
}

.nav-links a.active,
.nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}

/* contain */

.banner
{
    height: 240px;
    background-image: url("../image/banner/new배너.png");
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1{
    font-family: S-CoreDream-7ExtraBold;
    font-size: 28px;
    color: #3F474D;
}

.banner p{
    font-family: S-CoreDream-4Regular;
    font-size: 20px;
    color: #3F474D;
}

/* main */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.category-grid {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.shortcut {
    width: 350px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 13px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.2s;
    margin: 60px 0 -19px 0;
}

.shortcut p{
    display: flex;
    width: 350px;
    height: 75px;
    background-color: rgba(237, 239, 241, 0.8);
    font-family: S-CoreDream-5Medium;
    font-size: 28px;
    color: #383D42;
    border-radius: 13px 13px 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 45px;
}

.radio_box { 
    display: flex;
    position: relative;
    cursor: pointer; 
    font-family: S-CoreDream-5Medium;
    font-size: 20px;
    color: #383D42;    
    user-select: none; 
    padding: 0 0 20px 0;
    margin-left: 36px;
    align-items: center;
}

/* 기본 라디오 버튼 숨기기 */
.radio_box input[type="radio"] { display: none; }

/* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
.on { 
    width: 39px; 
    height: 39px; 
    background: #EDEFF1; 
    border-radius: 50%; 
    margin-right: 23px;
}


.radio_box input[type="radio"]:checked + .on { background: #002BCB; }
.on:after { content: ""; position: absolute; display: none; }
.radio_box input[type="radio"]:checked + .on:after { display: block; }
.on:after { 
    width: 20px; 
    height: 20px; 
    background: #F3F9FF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 9.999996185303px;
    top: 9.5px;
}

/* footer */
.footer {
    background-color: #EDEFF1; /* 배경색 설정 */
    padding: 35px 35px;
    color: hsl(205, 11%, 60%); /* 텍스트 색상 설정 */
    margin-top: 119px;
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container span.ingredient {
    font-family: S-coreDream-5Medium;
  }


.footer-logo img {
    width: 75px;
    height: 50px;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    line-height: 250%;
    letter-spacing:0.2px;
}

.footer-title {
    font-size: 16px;
    line-height: 20px;
    font-family: S-CoreDream-5Medium;
    margin: 0;
}

.footer-role {
    font-size: 14px;
    margin: 35px 0 35px 0;
}

.footer-contact {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

.footer-copyright {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}


/* 폰트 전체 속성 변경 */

h1{
    font-weight: normal;
}

h2{
    font-weight: normal;
}

h3{
    font-weight: normal;
}

.banner-tag{
    margin-top: 30px;
}

.banner-tag a{
    font-family: S-CoreDream-5Medium;
    font-size: 20px;
    color: #25282C;
    padding-left: 2%;
    text-decoration-line: none;
    display: flex;
}


.user{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    margin: 80px 0 10px 0;
    align-items: center;
}

.sud {
    display: flex;
    justify-content: center;
}

#submitBtn {
    margin-top: 40px;
    height: 60px;
    width: 200px;
    font-size: 30px;
    font-family: S-CoreDream-5Medium;;
    color: #FFFFFF;
    background-color: #002BCB;
    border-radius: 20px;
}

#name, #studentId, #phonenumber {
    height: 30px;
    width: 300px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px;
    padding-left: 10px;
    margin-left: 5px;
}
