@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@media (max-width: 600px) {
    .link {
        width: 100%;
    }
}


@media (min-width: 601px) {
    .link {
        width: 150px;

    }
}
*/

/* main */
body {
    font-family: S-CoreDream-4Regular;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* 위 패딩을 사용하여 양쪽에 여백을 추가하여 그리드 아이템이 컨테이너에 붙지 않도록 합니다 */
}

.main-view {
    margin: auto;
    text-align: center;
    overflow: hidden;
    height: auto;
    width: auto;
}

.main-view ul {
    width: calc(100% * 3);
    display: flex;
    animation: slide 20s infinite;
}

/* slide를 20초동안 진행하며 무한반복 함 */

.main-view li {
    width: calc(100% / 3);
}



ul {
    list-style: none;
    padding-left: 0px;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 19px;
    /*크기 조절시 변경 해야함 */
}

.navbar .ui li {
    line-height: 30px;
    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;
    /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
}


.nav-logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
    /* 각 항목 간의 간격을 설정 */
}

.nav-links a {
    text-decoration: none;
    color: #383D42;
}

.nav-links a.active,
.nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}


/* footer */
.footer {
    background-color: #EDEFF1;
    /* 배경색 설정 */
    padding: 35px 35px;
    color: #8D9AA3;
    /* 텍스트 색상 설정 */
    margin-top: 100px;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container span.ingredient {
    font-family: S-coreDream-5Medium;
}


.footer-logo img {
    width: 75px;
    height: 50px;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    line-height: 250%;
    letter-spacing: 0.2px;
}

.footer-title {
    font-size: 16px;
    line-height: 20px;
    font-family: S-CoreDream-5Medium;
    margin: 0;
}

.footer-role {
    font-size: 14px;
    margin: 35px 0 35px 0;
}

.footer-contact {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

.footer-copyright {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

/*경기일정*/
.sche-nav {
    line-height: 15px;
    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;
    /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
    margin-top: 0;
    padding: 0;
}

.sche-nav-container {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    font-size: 10px;
    /*크기 조절시 변경 해야함 */
    white-space: nowrap;
    /*overflow-x:auto;*/

}

.jb-division-line {
    border-top: 1px solid #444444;
    top: 10px;
    margin: 30px 0px;
}

.sche-nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sche-nav-links li {
    margin: 0;
    /* 각 항목 간의 간격을 설정 */
}

.sche-nav-links a {
    text-decoration: none;
    text-underline-offset: 5px;
    font-size: 15px;
    color: #B5BEC4;
    position: relative;
    padding: 0px 0px;
    font-family: S-CoreDream-5Medium;
}

.sche-nav-links img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin: 7px 28.5px 14px 28.5px;
}

.sche-nav-links a.active {
    color: #002BCB;
    font-family: S-CoreDream-5Medium;
}

.sche-nav-links a.active::after {
    color: #002BCB;
    font-family: S-CoreDream-5Medium;
    bottom: -10px;
    background: #002BCB;
    height: 3px;
}

.sche-nav-links a:hover {
    color: #B5BEC4;
    font-family: S-CoreDream-5Medium;
}

.sche-nav-links a.active {
    pointer-events: none;
}

.sche-nav-links a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #B5BEC4;
    transition: all .3s ease-out;
    /* 색상과 두께 변화에 애니메이션 추가 */
}

.sche-nav-links a:hover::after {
    width: 100%;
    padding: 0px;
}

.sche-nav-links a:visited::after {
    width: 100%;
    padding: 0px;
}

.sche-nav-links a.active::after {
    width: 100%;
    padding: 0px;
}

.sport-link-all:hover img {
    content: url('../image/전체-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-football:hover img {
    content: url('../image/풋살-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-basketball:hover img {
    content: url('../image/농구-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-dodgeball:hover img {
    content: url('../image/피구-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-bowling:hover img {
    content: url('../image/볼링-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-footvolleyball:hover img {
    content: url('../image/족구-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-tabletennis:hover img {
    content: url('../image/탁구-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-jumprope:hover img {
    content: url('../image/8자 줄넘기-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-lol:hover img {
    content: url('../image/LOL-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-tft:hover img {
    content: url('../image/TFT-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-FConline:hover img {
    content: url('../image/FC 온라인-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.today-date {
    font-size: 24px;
    /* 글씨 크기 조정 */
    font-weight: bold;
    /* 글씨 두께 조정 */
    margin-top: 20px;
    /* 위쪽 여백 추가 */
    text-align: left;
    /* 중앙 정렬 */
    justify-content: flex-start;
    color: #002BCB;
    flex: 1;
}

.daybyday {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.date-and-team-select {
    display: flex;
    justify-content: space-between;
    /* 양쪽 끝으로 정렬 */
    align-items: center;
    margin-bottom: 20px;
}

/*일정*/
.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.game-item p,
.game-item .team,
.game-item .score {
    margin: 0 10px;
    display: inline-block;
    color: black;
}

.game-item .teamDrop {
    border: none;
    display: inline-block;
}

.game-item .teamDrop {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.game-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.game-item .dropdown-content p {
    color: black;
    text-decoration: none;
    display: block;
}

.game-item .teamDrop:hover .dropdown-content {
    display: block;
}

/* 전체 게임 리스트 스타일 */


/* 개별 게임 항목 스타일 */
.game-item {
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
    height: 60px;
}


/* 점수 스타일 */
.score {
    font-weight: bold;
    color: #333;
}

/* 화면 크기에 따라 반응형 디자인 -> 144px 고정이라 수정 요망*/
@media (max-width: 600px) {
    .game-item {
        flex-direction: column;
        /* 작은 화면에서 세로 배치 */
        align-items: flex-start;
    }

    .score {
        margin: 5px 0;
        /* 점수 위아래 간격 조정 */
    }
}


h1 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}


.rankNresult {
    margin-top: 115px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

/* rank */

.rank {
    margin: auto 0;
}

.rank-contain {
    width: 790px;
}

.rank-text {
    display: flex;
    margin-bottom: 10px;
}

.rank-text p {
    margin-top: auto;
}

.rank-text a {
    margin-top: auto;
    margin-left: auto;
    font-size: 14px;
    color: #6F7E88;
    font-family: S-CoreDream-5Medium;
}

.recent_result {
    width: 380px;
}

.num-contain .number {
    font-size: 33px;
    font-family: S-CoreDream-5Medium;
    color: #0B2FA4;
}


.num-contain .topnum {
    font-size: 46px;
    font-family: S-CoreDream-5Medium;
    color: #ffffff;
}

.num-contain .number p {
    font-family: S-CoreDream-5Medium;
    color: #0B2FA4;
}

.num-contain {
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.top_mod {
    font-size: 20px;
}

.mod {
    font-size: 16px;
}

.rankinf {
    display: flex;
    align-items: center;
    background-color: #F5F6F7;
    margin: 6.5px 0 6.5px 0;
    border-radius: 13px;
    height: 79px;
    overflow: hidden;
    /* 컨테이너 밖으로 벗어나는 부분을 잘라내기 */
}

.rankscore {
    font-size: 33px;
    font-family: S-CoreDream-5Medium;
}

#rank1score {
    font-size: 60px;
    font-family: S-CoreDream-5Medium;
}

#rank2score {
    font-size: 52px;
    font-family: S-CoreDream-5Medium;
    margin-left: 5px;
}

#rank3score {
    font-size: 46px;
    font-family: S-CoreDream-5Medium;
    margin-left: 10px;
}

.rank1 {
    background-color: #002BCB;
    color: #FFFFFF;
    box-shadow: rgba(255, 0, 0, 0.08) 0 0 15px;
    height: 132px;
}

.rank2 {
    background-color: rgba(0, 48, 208, 0.8);
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
    color: #FFFFFF;
    height: 112px;
}

.rank3 {
    background-color: rgba(0, 48, 208, 0.6);
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
    color: #FFFFFF;
    height: 92px;
}

.rankinf img {
    height: 204px;
    width: 204px;
    transform: translateX(110px);
    opacity: 70%;
}

.rank1 img {
    transform: translateX(102px);
}

.rank2 img {
    transform: translateX(102px);
}

.rank3 img {
    transform: translateX(102px);
}

.major {
    margin-right: 35px;
    width: 265px;
}

.rankout {
    margin-right: 66px;
}

.major .major_kor {
    font-size: 16px;
}

.major .major_eng {
    font-size: 12px;
}

.topmajor .major_kor {
    font-size: 20px;
}

.topmajor .major_eng {
    font-size: 16px;
}

.recent_result_contain {
    display: flex;
}

.result_player {
    display: flex;
    align-items: center;
}

.player_name {
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(3, 73px);
    /*수정 요망*/
}

.recent_result-text {
    display: flex;
    margin-bottom: 9px;
}

.recent_result-text a {
    margin-top: auto;
    margin-left: auto;
    font-size: 14px;
    color: #6F7E88;
    font-family: S-CoreDream-5Medium;
}

.rank-text h1 {
    font-size: 36px;
    font-family: S-CoreDream-5Medium;
    margin-right: 6px;
}

.rank-text p {
    font-size: 16px;
    font-family: S-CoreDream-5Medium;
    color: #6F7E88;
}




.recent_result-text h1 {
    font-size: 36px;
    font-family: S-CoreDream-5Medium;
}

.direct-rule {
    background-image: url("../image/banner/영상배너.png");
    background-size: cover;
    height: 503px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 115px;
}

.recent_result_contain {
    height: 380px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
    border-radius: 13px;
    justify-content: center;
}

.result_left {
    background-color: #EDEFF1;
    border-radius: 13px 0 0 13px;
    overflow: hidden;
    text-align: right;
    padding-right: 12.5px;
}

.result_right {
    background-color: #ffffff;
    border-radius: 0 13px 13px 0;
    overflow: hidden;
    text-align: left;
    padding-left: 12.5px;
}

.reult_score_win {
    font-size: 48px;
    font-family: S-CoreDream-7ExtraBold;
    color: #002BCB;

}

.reult_major_win {
    font-size: 16px;
    font-family: S-CoreDream-7ExtraBold;
    color: #002BCB;
}


.reult_score_lose {
    font-size: 48px;
    font-family: S-CoreDream-4Regular;
    color: #B5BEC4;
}

.reult_major_lose {
    font-size: 16px;
    font-family: S-CoreDream-4Regular;
    color: #B5BEC4;
}


.recent_result_contain img {
    height: 250px;

}

.result_left img {
    margin-top: 27px;
    transform: translate(-35%);
    opacity: 40%;
}


.result_right img {
    margin-top: 27px;
    transform: translate(10%);
}


#sport {
    position: absolute;
    background-color: #B5BEC4;
    padding: 3px 10px 3px 10px;
    color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.result_player {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
    height: 115px;
    width: 380px;
    margin-top: 26px;
}

.result_player img {
    height: 90px;
    margin: 12px 19px 12px 17px;
}

.player_name {
    font-size: 16px;
    font-family: S-CoreDream-5Medium;
}



.direct-rule h1 {
    font-size: 20px;
    font-family: S-CoreDream-4Regular;
    color: #002BCB;
    margin-bottom: 20px;
}

.direct-rule p {
    font-size: 30px;
    font-family: S-CoreDream-5Medium;
    color: #383D42;
    margin-bottom: 40px;
}

.direct-rule button {
    height: 54px;
    width: 152px;
    font-size: 18px;
    font-family: S-CoreDream-5Medium;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #002BCB;
    border: none;
}

.SNS_contain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 115px;
    margin-bottom: 115px;
}

.SNSbutton {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
    border-radius: 20px;
    display: flex;
    padding: 20px 37px 20px 37px;
    text-decoration-line: none;

}

.SNSbutton img {
    height: 60px;
    margin-right: 22px;
}

.SNS_text h1 {
    font-size: 24px;
    font-family: S-CoreDream-5Medium;
    color: #000000;
    margin-bottom: 5px;
}

.SNS_text p {
    font-size: 16px;
    font-family: S-CoreDream-5Medium;
    color: #B5BEC4;
}


.company-logo {
    max-width: 1200px;
    margin: 165px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}


.company-logo img {
    height: 80px;
}



/* 임시 */
/* slider */
.slider__wrap {
    margin: auto;
    text-align: center;
    overflow: hidden;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img {
    /* 이미지 보이는 영역 */
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__inner {
    /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    display: flex;
    flex-wrap: wrap;
    /* width: 8800px; --> js로 이미지 추가되도 전체넓이 가변되게끔! */
    /* 4000px --> 4800px  : 총이미지가 6개로 변경*/
    height: auto;
    position: relative;
    left: -1200px;
}

.slider__inner.transition {
    transition: all 0.2s;
}

.slider {
    /* 개별적인 이미지 */
    position: relative;
    width: 1200px;
}


@media (max-width: 800px) {
    .slider__img {
        width: 400px;
        height: 225px;
    }
}

.slider__dot {
    position: relative;
    margin-left: 550px;
    bottom: 50px;

}

.slider__dot .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 5px;
}

.slider__dot .dot.active {
    /* background: #000; */
    color: white;
    background: white;
    /* position: relative; */
    transition: all 2s ease;
}

.slider__dot .dot.active {
    /* background: #000; */
    position: relative;
}

.slider__dot .dot.active::after {
    position: absolute;
    /* transform: translate(-50%, -50%); */
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    z-index: -1;
    animation: rotate 3s linear infinite;
    pointer-events: none;
}

.slider__dot .dot.active::before {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    animation: rotate2 7s linear infinite;
    pointer-events: none;
}

.slider__dot .dot.active {
    /* background: #000; */
    box-shadow: -1px 1px 2px #fff;
    background: white;
    /* position: relative; */
}

.slider__dot .dot.active::after {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid #fe8d1c;
    box-shadow: -1px 1px 10px #fe8d1c;
    animation: rotate 3s linear infinite;
    pointer-events: none;
}

.slider__dot .dot.active::before {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}




.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* 적절한 너비 설정 */
    margin: auto;
}

.slide {
    display: none; /* 초기에는 모든 슬라이드를 숨김 */
}

.active {
    display: block; /* 현재 활성화된 슬라이드만 표시 */
}
