@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* main */
body {
    font-family: S-CoreDream-4Regular;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.main-view {
    margin: auto;
    text-align: center;
}

.main-view {
    height:420px;
    overflow:hidden;
}

.main-view ul {
    width:calc(100% * 3);
    display:flex;
    animation:slide 20s infinite;
} /* slide를 20초동안 진행하며 무한반복 함 */

.main-view li {
    width:calc(100% / 3);
    height:300px;
}
  
ul{
    list-style:none;
    padding-left:0px;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    font-size: 19px; /*크기 조절시 변경 해야함 */
    overflow-x:auto;
    white-space:nowrap;
}

.navbar .ui li {
    line-height: 30px;    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;   /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
}

.nav-logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px; /* 각 항목 간의 간격을 설정 */
}

.nav-links a {
    text-decoration: none;
    color: #383D42;
}

.nav-links a.active,
.nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}


/* main */
.selection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex; /* 가로로 나란히 배치 */
    justify-content: center; /* 중앙 정렬 */
    border-bottom: 1px solid #B5BEC4; /* 기본 border */
}

/* section */
.contain {
    flex: 1; /* 모든 컨테이너가 동일한 비율로 차지하도록 설정 */
    padding: 16px 0; /* 위아래 여백 */
    font-family: S-CoreDream-5Medium;
    font-size: 24px;
    text-align: center; /* 텍스트 가운데 정렬 */
    color: #B5BEC4; /* 선택되지 않았을 때 기본 색상 */
    cursor: pointer; /* 마우스 커서 변경 */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* 색상과 border의 전환 효과 */
}

/* 선택된 상태의 스타일 */
.contain.selected {
    color: #002BCB;
    border-bottom: 3px solid #002BCB; /* 선택된 상태일 때의 border */
    cursor: default; /* 선택된 상태에서는 기본 커서로 변경 */
}

.selection .contain:not(.selected) {
    border-bottom: 1px solid transparent; /* 선택되지 않은 상태일 때 하단 border를 보이지 않게 설정 */
}




/* contain */

.banner
{
    height: 240px;
    background-image: url("../image/banner/new배너.png");
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1{
    font-family: S-CoreDream-7ExtraBold;
    font-size: 28px;
    color: #3F474D;
}

.banner p{
    font-family: S-CoreDream-4Regular;
    font-size: 20px;
    color: #3F474D;
}


.standard p{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30PX;
    font-family: S-CoreDream-4Regular;
    font-size: 18px;
    color: #B5BEC4;
}


.rankNresult {
  margin: auto 0;
  display: flex;
  justify-content: center;
}

/* rank */

.rank {
  margin: auto 0;
}

.rank-contain {
  max-width: 1200px;
}

.num-contain .number {
  font-size: 33px;
  font-family: S-CoreDream-5Medium;
  color: #0B2FA4;
}


.num-contain .topnum {
  font-size: 46px;
  font-family: S-CoreDream-5Medium; 
  color: #ffffff;
}

.num-contain .number p {
  font-family: S-CoreDream-5Medium; 
  color: #0B2FA4;
}

.num-contain {
  margin-left: 35px;
  margin-right: 55px;
  display: flex;
  align-items: center;
}

.top_mod {
  font-size: 20px;
}

.mod {
  font-size: 16px;
  margin-right: 14px;
}

.rankinf{
  display: flex;
  align-items: center;
  background-color: #F5F6F7;
  margin: 10px 0 10px 0;
  border-radius: 13px;
  height: 79px;
  overflow: hidden; /* 컨테이너 밖으로 벗어나는 부분을 잘라내기 */
}


.rank1 {
  background-color: #002BCB;
  color:#FFFFFF;
  box-shadow: rgba(255, 0, 0, 0.08) 0 0 15px;
  height: 132px;
}

.rank2 {
  background-color: rgba(0, 48, 208, 0.8);
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
  color:#FFFFFF;
  height: 112px;
}

.rank3 {
  background-color: rgba(0, 48, 208, 0.6);
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 15px;
  color:#FFFFFF;
  height: 92px;
}

.rankinf img {
  height: 260px;
  width: 260px;
  transform: translate(30%);
  opacity: 30%;
}

.rank1 img {
  transform: translate(7%);
}

.rank2 img {
  transform: translate(7%);
}

.rank3 img {
  transform: translate(7%);
}

.major {
  width: 365px;
  margin-right: 35px;
  line-height: 50%;
}


.major .major_kor {
  font-size: 16px;
}

.major .major_eng {
  font-family: S-CoreDream-3Light;
  font-size: 12px;
}

.topmajor .major_kor {
  font-size: 22px;
}

.topmajor .major_eng {
  font-size: 14px;
}



.score-contain .score {
  margin-left: 10px;
  font-size: 33px;
  font-family: S-CoreDream-5Medium;
  color: #0B2FA4;
}


.score-contain .topscore {
  margin-left: 10px;
  font-size: 60px;
  font-family: S-CoreDream-5Medium; 
  color: #ffffff;
}

.score-contain .total p {
  font-family: S-CoreDream-5Medium; 
  color: #000000;
}

.score-contain {
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.top_total {
  font-size: 22px;
}

.total {
  font-size: 16px;
}



/* footer */
.footer {
    background-color: #EDEFF1; /* 배경색 설정 */
    padding: 35px 35px;
    color: #8D9AA3; /* 텍스트 색상 설정 */
    margin-top: 100px;
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container span.ingredient {
    font-family: S-coreDream-5Medium;
  }


.footer-logo img {
    width: 75px;
    height: 50px;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    line-height: 250%;
    letter-spacing:0.2px;
}

.footer-title {
    font-size: 16px;
    line-height: 20px;
    font-family: S-CoreDream-5Medium;
    margin: 0;
}

.footer-role {
    font-size: 14px;
    margin: 35px 0 35px 0;
}

.footer-contact {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

.footer-copyright {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}
