@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* main */
body {
    font-family: S-CoreDream-4Regular;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 120vw;
    margin: 0 auto;
    padding: 0;
    /* 위 패딩을 사용하여 양쪽에 여백을 추가하여 그리드 아이템이 컨테이너에 붙지 않도록 합니다 */
}

.main-view {
    margin: auto;
    text-align: center;
}

.main-view {
    height: 42vw;
    overflow: hidden;
}

.main-view ul {
    width: calc(100% * 3);
    display: flex;
    animation: slide 20s infinite;
}

/* slide를 20초동안 진행하며 무한반복 함 */

.main-view li {
    width: calc(100% / 3);
    height: 30vw;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    /* 0 ~ 10  : 정지 */
    10% {
        margin-left: 0;
    }

    /* 10 ~ 25 : 변이 */
    25% {
        margin-left: -100%;
    }

    /* 25 ~ 40 : 정지 */
    40% {
        margin-left: -100%;
    }

    /* 40 ~ 55 : 변이 */
    55% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120vw;
    margin: 0 auto;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-family: S-CoreDream-5Medium;
    font-size: 1.9vw;
    /*크기 조절시 변경 해야함 */
    overflow-x: auto;
    white-space: nowrap;
}

.navbar .ui li {
    line-height: 3vw;
    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 3vw로 설정*/
    vertical-align: middle;
    /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
}

.nav-logo img {
    max-height: 4vw;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 1.5vw;
    /* 각 항목 간의 간격을 설정 */
}

.nav-links a {
    text-decoration: none;
    color: #383D42;
}

.nav-links a.active,
.nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}

/* sche-nav */
.sche-nav {
    line-height: 1.5vw;
    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 3vw로 설정*/
    vertical-align: middle;
    /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
    margin: 6vw 0 4.4vw 0;
}

.sche-nav-container {
    align-items: center;
    max-width: 120vw;
    margin: 0 auto;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-family: S-CoreDream-5Medium;
    font-size: 1vw;
    /*크기 조절시 변경 해야함 */
    overflow-x: auto;
    white-space: nowrap;

}

.jb-division-line {
    border-top: 0.1vw solid #444444;
    top: 1vw;
    margin: 3vw 0;
}

.sche-nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sche-nav-links li {
    margin: 0;
    /* 각 항목 간의 간격을 설정 */
}

.sche-nav-links a {
    text-decoration: none;
    text-underline-offset: 0.5vw;
    font-size: 1.5vw;
    color: #B5BEC4;
    position: relative;
    padding: 0 0;
    font-family: S-CoreDream-4Regular;
}
.sche-nav-links p{
    font-size: 1vw;
}
.sche-nav-links img {
    width: 3.85vw;
    height: 3.85vw;
    object-fit: cover;
    margin: 0.7vw 2vw 0 2vw;
}

.sche-nav-links a.active,
.sche-nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}

.sche-nav-links a::after {
    content: "";
    position: absolute;
    bottom: -1vw;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.3vw;
    background: #002BCB;
    transition: all .3s ease-out;
    /* 색상과 두께 변화에 애니메이션 추가 */
}

.sche-nav-links a:hover::after {
    width: 100%;
    padding: 0;
}

.sche-nav-links a:visited::after {
    width: 100%;
    padding: 0;
}

.sche-nav-links a.active::after {
    width: 100%;
    padding: 0;
}

.sche-nav-links a.active {
    pointer-events: none;
}

.sport-link-all:hover img {
    content: url('../image/전체-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-football:hover img {
    content: url('../image/풋살-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-basketball:hover img {
    content: url('../image/농구-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-dodgeball:hover img {
    content: url('../image/피구-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-bowling:hover img {
    content: url('../image/볼링-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-footvolleyball:hover img {
    content: url('../image/족구-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-tabletennis:hover img {
    content: url('../image/탁구-hover픽토그램.png');
    /* 전체 호버 이미지 */
}

.sport-link-jumprope:hover img {
    content: url('../image/8자 줄넘기-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-lol:hover img {
    content: url('../image/LOL-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

.sport-link-tft:hover img {
    content: url('../image/TFT-hover픽토그램.png');
    /* 풋살 호버 이미지 */
}

.sport-link-FConline:hover img {
    content: url('../image/FC 온라인-hover픽토그램.png');
    /* 농구 호버 이미지 */
}

/* calendar */
.calendarControls {
    font-weight: bold;
    font-size: 2.4vw;
}

.popup {
    display: none;
    /* 기본적으로 숨김 */
    position: absolute;
    background-color: white;
    border: 0.1vw solid #ccc;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 1vw;
}

.popup-content {
    padding: 2vw;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 2vw;
}


#calendarControls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

#calendarControls button {
    cursor: pointer;
    margin: 0 1vw;
    padding: 1vw;
    border: none;
    color: black;
    font-size: 1.6vw;
    background-color: transparent;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5vw;
}

.day,
.day-name {
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    /* 마우스 커서 포인터로 변경 */

}

.day-name {
    color: gray;
}

.day:hover {
    background-color: lightgray;
    /* 마우스 오버 시 회색으로 변경 */
    border-radius: 50%;

}

.day.selected {
    background-color: orange;
    /* 클릭 시 주황색으로 변경 */
    border-radius: 50%;
}

.event-dot {
    width: 0.4vw;
    height: 0.4vw;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    /* 기본적으로 숨김 */
}

.arrow-triangle {
    position: relative;
    background-color: #333;
    text-align: left;
    margin: 1vw;
}

.arrow-triangle:before,
.arrow-triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}

.arrow-triangle,
.arrow-triangle:before,
.arrow-triangle:after {
    width: 0.8vw;
    height: 0.8vw;
    border-top-right-radius: 30%;
}

.arrow-triangle.left {
    transform: rotate(-90deg) skewX(-30deg) scale(1, .866);
}

.arrow-triangle.right {
    transform: rotate(-30deg) skewX(-30deg) scale(1, .866);
    margin-left: 2vw;
}

.arrow-triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.arrow-triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

.date-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.date-display {
    margin: 0 2vw;
    font-size: 2.4vw;
    display: flex;
    align-items: center;
}

.date-item {
    margin: 0 5vw;
    color: #8D9AA3;
}

.arrow-prev,
.arrow-next {
    position: relative;
    float: left;
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
}

.arrow-prev::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 1vw;
    /* 사이즈 */
    height: 1vw;
    /* 사이즈 */
    border-top: 0.2vw solid #000;
    /* 선 두께 */
    border-right: 0.2vw solid #000;
    /* 선 두께 */
    transform: rotate(225deg);
    /* 각도 */
}

.arrow-next::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 1vw;
    /* 사이즈 */
    height: 1vw;
    /* 사이즈 */
    border-top: 0.2vw solid #000;
    /* 선 두께 */
    border-right: 0.2vw solid #000;
    /* 선 두께 */
    transform: rotate(45deg);
    /* 각도 */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.4vw;
    /* 아이콘 크기 조정 */
    left: -10vw;
    /* 아이콘과 다른 요소 간의 간격 조정 */
    color: #8D9AA3;
}

.today-date {
    font-size: 2.4vw;
    /* 글씨 크기 조정 */
    font-weight: bold;
    /* 글씨 두께 조정 */
    margin-top: 2vw;
    /* 위쪽 여백 추가 */
    text-align: left;
    /* 중앙 정렬 */
    justify-content: flex-start;
    color: #002BCB;
}

#current-game,
#next-game {
    margin-top: 2vw;
    padding: 1vw;
    border: #ccc;
    border-radius: 0.5vw;
}

/*filter*/
.date-and-team-select {
    display: flex;
    justify-content: space-between;
    /* 양쪽 끝으로 정렬 */
    align-items: center;
    margin-bottom: 2vw;
}

.today-date {
    flex: 1;
    /* 왼쪽에 공간을 차지하도록 설정 */
}

.team-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
    /* 간격 추가 */
}

.team-select label {
    margin-bottom: 0.5vw;
}

.team-select select {
    width: 20vw;
    /* 고정된 너비 설정 */
    padding: 0.5vw;
    border: 0.1vw solid #002BCB;
    border-radius: 0.4vw;
    font-size: 1.4vw;
    appearance:none;
}
.team-select option{
    box-sizing: 1vw;
    font-size: 1.4vw;
}
.daybyday {
    align-items: center;
    max-width: 120vw;
    margin: 0 auto;
}

/* contain */

.banner
{
    height: 24vw;
    background-image: url("../image/new배너.png");
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    font-family: S-CoreDream-7ExtraBold;
    font-size: 2.8vw;
    color: #3F474D;
}

.banner p {
    font-family: S-CoreDream-4Regular;
    font-size: 2vw;
    color: #3F474D;
}



/*일정*/
.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    font-weight: bold;
    font-size:1vw;
    text-overflow: ellipsis;
    height:2vw;
}

.game-item p,
.game-item .team,
.game-item .score {
    margin: 0 1vw;
    display: inline-block;
    color: black;
}

.game-item .teamDrop{
    border: none;
    display: inline-block;
}
.game-item .teamDrop {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.game-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.game-item .dropdown-content p {
    color: black;
    text-decoration: none;
    display: block;
}

.game-item .teamDrop:hover .dropdown-content {
    display: block;
}
/* 전체 게임 리스트 스타일 */


/* 개별 게임 항목 스타일 */
.game-item {
    padding: 1vw;
    border: 0 solid;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgb(200, 200, 200);
}


/* 점수 스타일 */
.score {
    font-weight: bold;
    font-size: 1vw;
    color: #333;
    width: 1vw;
}

.score p{
    text-align: center;
}


/* footer */
.footer {
    background-color: #EDEFF1;
    /* 배경색 설정 */
    padding: 3.5vw 3.5vw;
    color: #8D9AA3;
    /* 텍스트 색상 설정 */

}

.footer-container {
    max-width: 120vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container span.ingredient {
    font-family: S-coreDream-5Medium;
}


.footer-logo img {
    width: 7.5vw;
    height: 5vw;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    line-height: 250%;
    letter-spacing: 0.02vw;
}

.footer-title {
    font-size: 1.6vw;
    line-height: 2vw;
    font-family: S-CoreDream-5Medium;
    margin: 0;
}

.footer-role {
    font-size: 1.4vw;
    margin: 3.5vw 0 3.5vw 0;
}

.footer-contact {
    font-size: 1.4vw;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

.footer-copyright {
    font-size: 1.4vw;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}