@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* main */
body {
    font-family: S-CoreDream-4Regular;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* 위 패딩을 사용하여 양쪽에 여백을 추가하여 그리드 아이템이 컨테이너에 붙지 않도록 합니다 */
}

.main-view {
    margin: auto;
    text-align: center;
}

.main-view {
    height:420px;
    overflow:hidden;
}

.main-view ul {
    width:calc(100% * 3);
    display:flex;
    animation:slide 20s infinite;
} /* slide를 20초동안 진행하며 무한반복 함 */

.main-view li {
    width:calc(100% / 3);
    height:300px;
}
  
  @keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 40 : 정지 */
    40% {margin-left:-100%;} /* 40 ~ 55 : 변이 */
    55% {margin-left:-200%;}
    70% {margin-left:-200%;}
    100% {margin-left:0;}
  }

ul{
    list-style:none;
    padding-left:0px;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    font-size: 19px; /*크기 조절시 변경 해야함 */
    overflow-x:auto;
    white-space:nowrap;
}

.navbar .ui li {
    line-height: 30px;    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;   /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
}

.nav-logo img {
    max-height: 40px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px; /* 각 항목 간의 간격을 설정 */
}

.nav-links a {
    text-decoration: none;
    color: #383D42;
}

.nav-links a.active,
.nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}

/* sche-nav */
.sche-nav{
    line-height: 15px;    /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle;   /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center;
    margin: 60px 0 44px 0;
}
.sche-nav-container {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: S-CoreDream-5Medium;
    font-size: 10px; /*크기 조절시 변경 해야함 */
    overflow-x:auto;
    white-space:nowrap;

}
.jb-division-line {
    border-top: 1px solid #444444;
    top: 10px;
    margin: 30px 0px;
}
.sche-nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sche-nav-links li {
    margin: 0; /* 각 항목 간의 간격을 설정 */
}

.sche-nav-links a {
    text-decoration: none;
    text-underline-offset: 5px;
    font-size: 15px;
    color: #B5BEC4;
    position: relative;
    padding: 0px 0px;
    font-family: S-CoreDream-4Regular;
}
.sche-nav-links img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin: 7px 28.5px 0 28.5px;
}

.sche-nav-links a.active,
.sche-nav-links a:hover {
    color: #002BCB;
    font-family: S-CoreDream-7ExtraBold;
}
.sche-nav-links a::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #002BCB;
    transition: all .3s ease-out; /* 색상과 두께 변화에 애니메이션 추가 */
}
.sche-nav-links a:hover::after{
    width: 100%;
    padding: 0px;
}
.sche-nav-links a:visited::after{
    width: 100%;
    padding: 0px;
}
.sche-nav-links a.active::after {
    width: 100%;
    padding: 0px;
}
.sport-link-all:hover img {
    content: url('../image/전체-hover픽토그램.png'); /* 전체 호버 이미지 */
}
.sport-link-football:hover img {
    content: url('../image/풋살-hover픽토그램.png'); /* 풋살 호버 이미지 */
}
.sport-link-basketball:hover img {
    content: url('../image/농구-hover픽토그램.png'); /* 농구 호버 이미지 */
}
.sport-link-dodgeball:hover img {
    content: url('../image/피구-hover픽토그램.png'); /* 전체 호버 이미지 */
}
.sport-link-bowling:hover img {
    content: url('../image/볼링-hover픽토그램.png'); /* 풋살 호버 이미지 */
}
.sport-link-footvolleyball:hover img {
    content: url('../image/족구-hover픽토그램.png'); /* 농구 호버 이미지 */
}
.sport-link-tabletennis:hover img {
    content: url('../image/탁구-hover픽토그램.png'); /* 전체 호버 이미지 */
}
.sport-link-jumprope:hover img {
    content: url('../image/8자 줄넘기-hover픽토그램.png'); /* 풋살 호버 이미지 */
}
.sport-link-lol:hover img {
    content: url('../image/LOL-hover픽토그램.png'); /* 농구 호버 이미지 */
}
.sport-link-tft:hover img {
    content: url('../image/TFT-hover픽토그램.png'); /* 풋살 호버 이미지 */
}
.sport-link-FConline:hover img {
    content: url('../image/FC 온라인-hover픽토그램.png'); /* 농구 호버 이미지 */
}
/* calendar */
.hidden {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-top: -10px;
}
.date-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-display {
    margin: 0 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.date-item {
    margin: 0 50px;
    color: #8D9AA3;
}
.arrow-prev,
.arrow-next {
    position: relative;
    float:left;
    border:none;
    width:10px;
    height:10px;
    margin-right:5px;
}

.arrow-prev::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 2px solid #000; /* 선 두께 */
    border-right: 2px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
}

.arrow-next::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 2px solid #000; /* 선 두께 */
    border-right: 2px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* 아이콘 크기 조정 */
    left: -100px; /* 아이콘과 다른 요소 간의 간격 조정 */
    color: #8D9AA3;
}
.today-date {
    font-size: 24px; /* 글씨 크기 조정 */
    font-weight: bold; /* 글씨 두께 조정 */
    margin-top: 20px; /* 위쪽 여백 추가 */
    text-align: left; /* 중앙 정렬 */
    justify-content: flex-start;
    color: #002BCB;
}

#current-game, #next-game {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*filter*/
.date-and-team-select {
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
    align-items: center;
    margin-bottom: 20px;
}

.today-date {
    flex: 1; /* 왼쪽에 공간을 차지하도록 설정 */
}

.team-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* 간격 추가 */
}

.team-select label {
    margin-bottom: 5px;
}

.team-select select {
    width: 200px; /* 고정된 너비 설정 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


.daybyday {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
/* contain */

.banner
{
    height: 240px;
    background-color: rgba(176, 218, 255, 0.25); /* Add a background color to see the container */
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1{
    font-family: S-CoreDream-7ExtraBold;
    font-size: 28px;
    color: #3F474D;
}

.banner p{
    font-family: S-CoreDream-4Regular;
    font-size: 20px;
    color: #3F474D;
}



/*일정*/
.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.game-item p, .game-item .team, .game-item .score {
    margin: 0 10px;
}
.game-item p {
    flex: 1;
}
.game-item .team {
    flex: 2;
    display: flex;
    align-items: center;
}
.game-item .score {
    flex: 1;
}
/* 전체 게임 리스트 스타일 */


/* 개별 게임 항목 스타일 */
.game-item {
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow : 1px 1px 1px 1px rgb(200, 200, 200);
}

.game-item:last-child {
    border-bottom: none; /* 마지막 항목의 경계선 제거 */
}

/* 팀 정보 스타일 */
.team {
    display: flex;
    align-items: center;
}

/* 팀 이미지 스타일 */
.team img {
    border-radius: 50%; /* 이미지 둥글게 만들기 */
}

/* 점수 스타일 */
.score {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

/* 종목과 장소 스타일 */
.game-item p {
    margin: 0 10px;
    font-size: 1em;
    color: #555;
}

/* 화면 크기에 따라 반응형 디자인 */
@media (max-width: 600px) {
    .game-item {
        flex-direction: column; /* 작은 화면에서 세로 배치 */
        align-items: flex-start;
    }
    .score {
        margin: 5px 0; /* 점수 위아래 간격 조정 */
    }
}


/* footer */
.footer {
    background-color: #EDEFF1; /* 배경색 설정 */
    padding: 35px 35px;
    color: #8D9AA3; /* 텍스트 색상 설정 */
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container span.ingredient {
    font-family: S-coreDream-5Medium;
  }


.footer-logo img {
    width: 75px;
    height: 50px;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    line-height: 250%;
    letter-spacing:0.2px;
}

.footer-title {
    font-size: 16px;
    line-height: 20px;
    font-family: S-CoreDream-5Medium;
    margin: 0;
}

.footer-role {
    font-size: 14px;
    margin: 35px 0 35px 0;
}

.footer-contact {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}

.footer-copyright {
    font-size: 14px;
    font-family: S-CoreDream-4Regular;
    margin: auto;
}
